[build]
builder = "NIXPACKS"

[deploy]
healthcheckPath = "/api/health"
healthcheckTimeout = 100

[service]
root = "backend"
start = "npm install && npm run build && npm run prisma:migrate && npm start"
